@CHARSET "UTF-8";

body{
	font-size:12px;
	font-family:微软雅黑;
    padding-bottom: 40px;
    padding-top: 60px;	
}   

footer{
    text-align: center;
}

.form .row label {
    float: left;
    width: 80px;
}

.view{
	padding:5px;
	margin:5px;
	width:30%;
	border: 1px solid #0088CC;
}

.viewModel{ 
 	width:100%; 
    text-align:right;
}

.form_tag {
    float:right;
    font-size:12px;
}
